<div class="flex items-center font-mono group text-lg">
  <div class="transition-all group-hover:-translate-x-1 group-hover:rotate-[25deg]">{'<'}</div>
  <div class="transition-all group-hover:scale-125 group-hover:text-rose-500">{'/'}</div>
  <div class="transition-all group-hover:translate-x-1 group-hover:rotate-[25deg]">{'>'}</div>
</div>
